body {
    background-color: rgba(148, 124, 124, 0.2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

* {
    padding: 0px;
    margin: 10px;
    border: 10px;
}

ul {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

ol {
    text-align: center;
    list-style: inside;
}

li {
    display: block;
    margin-bottom: 15px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
    text-align: left;
}

.center {
    text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border: 3px solid rgb(153, 143, 143, 0.4);
}


.description {
    margin: 20px;
    font-size: 20px;
}

.steps {
    text-align: left;
}