body {
    background-color: rgba(134, 104, 104, 0.25);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.header {
    text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border: 3px solid rgb(153, 143, 143, 0.4);
}

.description {
    margin: 20px;
    font-size: 20px;
}

ul {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

ol {
    text-align: center;
    list-style: inside;
}

li {
    display: block;
}
